@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,700;0,800;1,200;1,300&family=Ubuntu:ital,wght@0,400;0,500;0,700;1,300;1,400;1,700&display=swap");
@import "./../styles/@shared/flexbox";
@import "./../styles/@shared/grid";

#overlays {
  .modal {
    z-index: 9999999;
  }
  .backdrop {
    z-index: 9999;
  }
}
.backdrop {
  cursor: pointer;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  background-color: $modal-backdrop-background;
}

.modal {
  position: fixed;
  top: 50%;
  box-shadow: $modal-box-shadow-color;
  border-radius: 3px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $modal-background-color;
  padding: 30px;
  width: 440px;

  .modal_content {
    h4 {
      color: #334144;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 20px;
      display: flex;
      justify-content: center;
    }
    .succes {
      color: green;
    }
  }
  .two_col {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;

    label {
      font-size: 10px;
      line-height: 10px;
      color: #949ea0;
      margin-top: -38px;
    }
    input {
      background: #f5f6f7;
      border: 1px solid #dfe5ea;
      border-radius: 3px;
      color: #334144;
      padding: 20px 35px 20px 10px;
    }
    .name {
      position: absolute;
      left: 40px;
      transition: top 0.25s;
    }
    .surname {
      position: absolute;
      right: 186px;
      transition: top 0.25s;
    }
  }
  .footer_content {
    display: flex;
    flex-direction: column;
    margin-top: 10px;

    label {
      margin-top: 16px;
      font-size: 10px;
      line-height: 10px;
      color: #949ea0;
    }
    .create_account_btn {
      border: none;
      margin-top: 25px;
      cursor: pointer;
      background: linear-gradient(270deg, #ecbcb3 0%, #eaa79e 100%);
      box-shadow: 0px 15px 20px rgba(234, 168, 159, 0.2);
      border-radius: 3px;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 14px;
      text-align: center;
      color: #ffffff;
      padding: 15px;
    }
    input {
      background: #f5f6f7;
      border: 1px solid #dfe5ea;
      border-radius: 3px;
      color: #334144;
      padding: 20px 20px 20px 10px;
      width: -webkit-fill-available;
      margin-top: 10px;
    }
    .birthday_label {
      position: absolute;
      left: 40px;
    }
    .email_label {
      position: absolute;
      left: 40px;
      top: 51%;
    }
    .email_label__login {
      position: absolute;
      left: 40px;
      top: 30%;
    }
    .password_label {
      position: absolute;
      left: 40px;
      top: 65%;
    }
    .password_label_login {
      position: absolute;
      left: 40px;
      top: 50%;
    }
  }
  input[type="text"]:focus {
    outline: none;
  }
  input[type="password"]:focus {
    outline: none;
  }
  input[type="date"]:focus {
    outline: none;
  }
  .user_info {
    margin-top: 41px;

    span {
      font-family: "Ubuntu";
      font-style: normal;
      font-weight: 400;
      font-size: 10px;
      line-height: 10px;
      color: #949ea0;
    }
    h5 {
      font-family: "Ubuntu";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 13px;
      color: #334144;
      padding-top: 16px;
    }
  }
  .profile_details {
    margin-top: 20px;

    h6 {
      font-style: normal;
      font-weight: 300;
      font-size: 25px;
      line-height: 25px;
      color: #334144;
    }

    .user_name {
      font-family: "Ubuntu";
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 15px;
      left: 0;
      right: 0;

      span {
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 13px;
        color: #949ea0;
        margin-top: 6px;
        position: absolute;
        top: 85px;
      }
    }
  }
  .logout {
    display: flex;
    justify-content: center;
    margin-top: 90px;

    button {
      border: none;
      cursor: pointer;
      background: linear-gradient(270deg, #ecbcb3 0%, #eaa79e 100%);
      box-shadow: 0px 15px 20px rgba(234, 168, 159, 0.2);
      border-radius: 3px;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 14px;
      text-align: center;
      color: #ffffff;
      padding: 15px;
      width: 150px;
    }
  }
}


@media screen and (max-width: 500px){
  .modal {
    width: 370px;
    .two_col {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      input {
        margin-top: 20px;
        width: -webkit-fill-available;
      }
      .name {
        top: 29.5%;
      }
      .surname {
        right: 80%;
        top: 43%;
      }
    }
    .footer_content {
      .password_label {
        top: 71%;
      }
      .email_label {
        top: 59%;
      }
    }
  }
}